body{
    background-image: url(dfghj.gif);
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;    
}
.icons{
    height: 100px; 
    width: 100px;
    border-radius: 50%;
    padding: 30px

    
}

.dis3{
    margin-left: auto;
    margin-right: auto;
    width: 528px;
}

.dis2{
    margin-left: auto;
    margin-right: auto;
    width: 352px;
}

h1{
    margin-left: auto;
    margin-right: auto;
    width: 165px;
    color: white;
    font-size: 60px;
    font-family: monospace;
}



.center-div
{
     position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     width: 540px;
     height: 470px;
}
    
